{% load static tailwind_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
        {% include "base/js.html" %}
        <title>{% block head_title %} CourseNgo {% endblock head_title %}</title>
    </head>
    <body class="bg-white dark:bg-gray-900" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
        {% include 'base/navbar.html' %}
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 sm:py-16 lg:px-6 ">
        {% block content %} {% endblock content %}
        </div>
    </body>
</html>