{% load static tailwind_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
        {% include "base/js.html" %}
        <title>{% block head_title %} Welcome to CourseNgo {% endblock head_title %}</title>
    </head>
    <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
        {% include 'base/navbar.html' %}
        {% block content %} {% endblock content %}
    </body>
</html>